.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    
    margin-top: 100px;
}
.place-order-left{
    width:100%;
    font-weight: 500;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-fields{
   display: flex;
   gap: 10px;
}
.place-order-right{
    width:100%;
    max-width: max(40%,500px);
}
.place-order .cart-total button{
   margin-top: 30px;
   font-size: 20px;
}

.payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 1px solid tomato;
    padding: 15px;
    border-radius: 5px;
  }
  
  .payment-option input[type="radio"] {
    display: none;
  }
  
  .payment-option input[type="radio"] + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid tomato;
    background-color: white;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .payment-option input[type="radio"]:checked + label::before {
    background-color: tomato;
    border: 2px solid tomato;
  }
  
  .payment-option label {
    font-size: 18px;
    cursor: pointer;
  }